name: Release

on:
  push:
    tags: [v*]

jobs:
  release:
    outputs:
      repo: ${{ steps.repo.outputs.repo }}
      digest: ${{ steps.build-push.outputs.digest }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # for pushing
      id-token: write # for signing
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0
    - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
    - uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      id: buildx
    - uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - run: echo git_tag=$(echo $GITHUB_REF | awk -F'/' '{print $3}') >> $GITHUB_ENV
    - run: echo semver=${git_tag#v} >> $GITHUB_ENV
    - run: echo repo=ghcr.io/$repo >> $GITHUB_OUTPUT
      id: repo
      env:
        repo: ${{ github.repository }}
    - run: echo tag=$repo:$semver >> $GITHUB_OUTPUT
      id: tag
      env:
        repo: ${{ steps.repo.outputs.repo }}

    - uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
      id: build-push
      with:
        context: .
        push: true
        sbom: true
        provenance: true
        platforms: linux/amd64,linux/arm64
        tags: ${{ steps.tag.outputs.tag }}
        builder: ${{ steps.buildx.outputs.name }}
    - run: cosign sign --yes ${repo}@${digest}
      env:
        repo: ${{ steps.repo.outputs.repo }}
        digest: ${{ steps.build-push.outputs.digest }}
  slsa:
    needs: [release]
    permissions:
      contents: read
      actions: read
      id-token: write
      packages: write
    uses: slsa-framework/slsa-github-generator/.github/workflows/generator_container_slsa3.yml@v2.1.0
    with:
      image: ${{ needs.release.outputs.repo }}
      digest: ${{ needs.release.outputs.digest }}
      registry-username: ${{ github.actor }}
    secrets:
      registry-password: ${{ secrets.GITHUB_TOKEN }}
